{{> show_header }}

<div class="image-container no-shadow limit-size">
  <img src="https://s3.eu-central-1.amazonaws.com/horuscdn/errors/horus404.png" />
  <br/>
</div>

<div class="error-text">
  <h3>It looks like that resource doesn't exist.</h3>
  <br/>
  <h4>Are you sure that <strong>{{ uri }}</strong> is the right path?</h4>
</div>

{{> show_footer }}
