* {
  margin: 0;
  padding: 0; }

html {
  font-family: 'Courier', 'Courier New', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

ul {
  list-style-type: none;
  font-size: 0; }

table, th, td {
  border-collapse: collapse; }

.wrapper {
  width: 960px;
  margin: 0 auto;
  padding-top: 0.5em; }

.page-header {
  font-size: 2.5em;
  text-align: center;
  width: 100%; }

.navbar {
  width: 100%;
  background: #418548; }

.navitem {
  font-size: 1.29rem;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #418548;
  display: inline-block; }
  .navitem a {
    width: inherit;
    height: inherit;
    color: #C7BC39;
    display: block;
    padding: 1em;
    text-decoration: none; }
    .navitem a:hover {
      text-decoration: none; }
    .navitem a:visited {
      color: #C7BC39; }
  .navitem:hover {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #204023; }

.image-box {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.image {
  width: 225px;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
  margin: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: #CAF731; }
  .image:hover {
    opacity: 0.7; }
  .image figure {
    background: #7ECD66;
    width: 225px;
    height: 225px; }
  .image figcaption {
    display: block;
    padding: 0.5em;
    background: #2C434E; }

figure {
  text-align: center;
  position: relative; }

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

figcaption {
  text-align: center; }

.img-cont {
  width: 100%;
  height: 420px; }
  .img-cont figure {
    width: 100%;
    height: 100%; }

.image img, .wide-img, .image video {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto; }

.wide-img {
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75); }

.table-full {
  table-layout: fixed;
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
  text-align: center; }
  .table-full a {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: black !important; }
    .table-full a:hover {
      color: #8080ff; }
  .table-full tr {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .table-full tr:hover {
      cursor: pointer;
      background: #bfbfbf; }
  .table-full td {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 1em !important;
    padding: 0.5em; }
    .table-full td div {
      height: 1em;
      min-height: 1em;
      max-height: 1em;
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }

.table-head {
  font-weight: bold; }

th {
  padding: 0.5em; }

.paste-row-content {
  height: 1em;
  max-height: 1em;
  overflow: hidden; }

main {
  padding-top: 1em; }

.paste-data {
  white-space: pre;
  text-align: left;
  display: block;
  font-family: monospace;
  border-radius: 15px;
  padding: 0.5em 1.25em 0.5em 1.25em;
  background: #f2f2f2; }

.img-options a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .img-options a:hover {
    color: black !important; }
  .img-options a:visited {
    text-decoration: none;
    color: blue; }

.img-options li {
  padding: 1em;
  display: inline-block; }

.changelog-item {
  font-size: 1.00rem;
  margin: 0.9em 0; }
  .changelog-item span {
    padding: 0.25em 0.5em;
    border-radius: 20px;
    display: block;
    margin-right: 0.5em;
    float: left;
    clear: both;
    text-align: center;
    font-weight: bold;
    width: 10%; }

.change {
  background-color: #cc00cc;
  color: #fff; }

.addition {
  background-color: #33cc33;
  color: #fff; }

.deletion {
  background-color: red;
  color: #fff; }

.fix {
  background-color: #666666;
  color: #fff; }

.changelog li {
  line-height: 1.65em; }
