<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="https://s3.eu-central-1.amazonaws.com/horuscdn/favicon.ico">
    <link rel="stylesheet" href="/static/style/main.css">
    <title>Horus Changelogs</title>
</head>
<body>
    <div class="wrapper">

        <h1 id="page-title" class="page-header">Horus Changelogs</h1>
        <main>
        <code class="paste_container changelog">
          <h1>Version 2.3.1</h1>
          <ul>
            <li class="changelog-item"><span class="fix">Fix</span> Fixed drawing mode not disabling panning in the image editor.</li>
          </ul>
          <br />

        </main>
        </code>

        <main>
        <code class="paste_container changelog">
          <h1>Version 2.3</h1>
          <ul>
            <li class="changelog-item"><span class="addition">Addition</span> Massive improvements to the image editor. You can now resize the box with handles, scroll to zoom the image, and pan by clicking on the image.</li>
            <li class="changelog-item"><span class="addition">Addition</span> There is now an indicator to show which color you have selected in the editor.</li>
            <li class="changelog-item"><span class="addition">Addition</span> You now receive an error message if the screenshot couldn't be saved on your system.</li>
            <li class="changelog-item"><span class="change">Change</span> Improved memory performance. </li>
            <li class="changelog-item"><span class="fix">Fix</span> Fixed numerous image editor bugs including some resetting after an abort, and some images showing up as garbage data if you attempted to crop them twice.</li>
            <li class="changelog-item"><span class="fix">Fix</span> Fixed bug causing lines to be drawn when users moved text in drawing mode.</li>
            <li class="changelog-item"><span class="fix">Fix</span> Fixed bug causing Linux updates to fail if you didn't have permissions to unzip in your installation folder. Polkit now asks for permission.</li>
          </ul>
          <br />

        </main>
        </code>

        <main>
<code class="paste_container changelog">
  <h1>Version 2.2</h1>
  <ul>
    <li class="changelog-item"><span class="addition">Addition</span> Settings changes no longer require a restart.</li>
    <li class="changelog-item"><span class="addition">Addition</span> Stylistic changes. Now most windows look similar to the settings dialog.</li>
    <li class="changelog-item"><span class="fix">Fix</span> Label color for settings dialog was fixed. On some systems (particularly some linux distros) the color was far too light to be readable.</li>
    <li class="changelog-item"><span class="fix">Fix</span>Numerous other bug fixes.</li>
  </ul>
  <br />

</main>
</code>
        <main>
<code class="paste_container changelog">
  <h1>Version 2.1.1</h1>
  <ul>
    <li class="changelog-item"> <span class="fix">Fix</span> Bug fixes and performance improvements.</li>
  </ul>
  <br />

</main>
</code>



        <main>
<code class="paste_container changelog">
  <h1>Version 2.1.0</h1>
  <ul>
    <li class="changelog-item"><span class="change">Change</span> 🎉🎉🎉 Entirely redesigned settings UI. NOTE: This will break your settings, make sure to reenter everything.</li>
    <li class="changelog-item"><span class="addition">Addition</span> Mouse scrolling on the screenshot window will now instantly switch between still and video mode.</li>
    <li class="changelog-item"><span class="addition">Addition</span> Added settings to set duration of uploaded resources (allows you to have an image expire after as many as 30 days).</li>
    <li class="changelog-item"><span class="addition">Addition</span> Option to change local save folder for images and videos.</li>
    <li class="changelog-item"><span class="addition">Addition</span> Ctrl-v now works in the file uploader window.</li>
    <li class="changelog-item"><span class="fix">Fix</span> Fixed bug that was preventing titles from appearing correctly.</li>
    <li class="changelog-item"><span class="fix">Fix</span> Fixed serverside bug causing expire times to be ignored on files.</li>
    <li class="changelog-item"><span class="fix">Fix</span> Fixed a ton of bugs.</li>
    <li class="changelog-item"><span class="deletion">Deletion</span> Removed old settings dialog.</li>
    <li class="changelog-item"><span class="deletion">Deletion</span> Removed local style on some UI elements in favor of global ones.</li>
  </ul>
  <br />

</main>
</code>

    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/js/manage.js"></script>
</body>
</html>
