<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="https://s3.eu-central-1.amazonaws.com/horuscdn/favicon.ico">
    <link rel="stylesheet" href="/static/style/main.css">
    <title>Horus Changelogs</title>
</head>
<body>
    <div class="wrapper">

        <h1 id="page-title" class="page-header">Horus Changelogs</h1>
        <main>
<code class="paste_container changelog">
  <h1>Version 2.3</h1>
  <ul>
    <li class="addition">+ Massive improvements to the image editor. You can now resize the box with handles, scroll to zoom the image, and pan by clicking on the image.</li>
    <li class="addition">+ There is now an indicator to show which color you have selected in the editor.</li>
    <li class="addition">+ You now receive an error message if the screenshot couldn't be saved on your system.</li>
    <li class="change">= Improved memory performance. </li>
    <li class="fix">* Fixed numerous image editor bugs including some resetting after an abort, and some images showing up as garbage data if you attempted to crop them twice.</li>
    <li class="fix">* Fixed bug causing lines to be drawn when users moved text in drawing mode.</li>
    <li class="fix">* Fixed bug causing Linux updates to fail if you didn't have permissions to unzip in your installation folder. Polkit now asks for permission.</li>
  </ul>
  <br />

</main>
</code>

        <main>
<code class="paste_container changelog">
  <h1>Version 2.2</h1>
  <ul>
    <li class="addition">+ Settings changes no longer require a restart.</li>
    <li class="addition">+ Stylistic changes. Now most windows look similar to the settings dialog.</li>
    <li class="fix">* Label color for settings dialog was fixed. On some systems (particularly some linux distros) the color was far too light to be readable.</li>
    <li class="fix">* Numerous other bug fixes.</li>
  </ul>
  <br />

</main>
</code>
        <main>
<code class="paste_container changelog">
  <h1>Version 2.1.1</h1>
  <ul>
    <li class="change">Bug fixes and performance improvements.</li>
  </ul>
  <br />

</main>
</code>



        <main>
<code class="paste_container changelog">
  <h1>Version 2.1.0</h1>
  <ul>
    <li class="change">+ 🎉🎉🎉 Entirely redesigned settings UI. NOTE: This will break your settings, make sure to reenter everything.</li>
    <li class="addition">+ Mouse scrolling on the screenshot window will now instantly switch between still and video mode.</li>
    <li class="addition">+ Added settings to set duration of uploaded resources (allows you to have an image expire after as many as 30 days).</li>
    <li class="addition">+ Option to change local save folder for images and videos.</li>
    <li class="addition">+ Ctrl-v now works in the file uploader window.</li>
    <li class="fix">* Fixed bug that was preventing titles from appearing correctly.</li>
    <li class="fix">* Fixed serverside bug causing expire times to be ignored on files.</li>
    <li class="fix">* Fixed a ton of bugs.</li>
    <li class="deletion">- Removed old settings dialog.</li>
    <li class="deletion">- Removed local style on some UI elements in favor of global ones.</li>
  </ul>
  <br />

</main>
</code>

    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/js/manage.js"></script>
</body>
</html>
