        </main>

    </div>

<aside class="popup" id="password-popup">
  <h1>Add a Password</h1>
  <a class="button close-btn" href="#">x</a>
  <div class="password">
    <input type="password" id="password-field" />
    <a id="password-submit" class="button" href="#">Submit</a>
  </div>
</aside>

<aside class="file-dropzone" id="upload-dialog">
  <h1> Drop files here upload </h1>
</aside>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/js/manage.js"></script>
</body>
</html>
