        </main>

    </div>

<aside class="popup" id="password-popup">
  <a class="close-btn"><img alt="close" src="/static/images/close-btn.jpg" /></a>
  <h1>Add a Password</h1>
  <div class="password">
    <input type="password" id="password-field" />
    <a class="button" href="#">Submit</a>
  </div>
</aside>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/js/manage.js"></script>
</body>
</html>
