<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="https://s3.eu-central-1.amazonaws.com/horuscdn/favicon.ico">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <link rel="stylesheet" href="/static/style/main.css">
    <title>{{ title }}</title>
</head>
<body>
    <li class="loader"></li>
   <header class="navbar">
        <ul class="nav-ul">
            <li class="navitem"><a href="/manage/images/0">Images</a></li>
            <li class="navitem"><a href="/manage/videos/0">Videos</a></li>
            <li class="navitem"><a href="/manage/pastes/0">Pastes</a></li>
            <li class="navitem"><a href="/manage/files/0">Files</a></li>
            <li class="navitem"><a href="/manage/account">My Account</a></li>
        </ul>
        <div id="notify-box"></div>
    </header> 

    <div class="wrapper">
        <h1 contenteditable="{{ editable }}" id="page-title" class="page-header">{{ page_title }}</h1>
        <main>
