<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title> {{ name }}&quot;s Page </title>
    </head>
    <body>
        Hello {{ name }}!
        asdfjasldkf jsdlf
    </body>
</html>