{{> header }} 
<main class="image-box">
  {{#each images }}

    <a class="image" href="/manage/image/{{ id }}">
        <figure>
            <span class="helper"></span>
            <img src="https://s3.eu-central-1.amazonaws.com/horuscdn/live/images/{{ id }}.png" alt="img" />
        </figure>

        <figcaption>
            <div class="card-title">
              {{#if password }}
              <div class="padlock"><img src="https://s3.eu-central-1.amazonaws.com/horuscdn/padlock.png" /></div>
              {{/if }}<strong>{{ title }}</strong><br/>
            </div>
            Uploaded {{ date_added }} 
        </figcaption>
    </a>

  {{/ each }}
</main>

{{> footer }}
 
