{{> header }}

<main class="image-box">
{{#each images }}
  <a class="image" href="/manage/video/{{ id }}">
      <figure>
          <span class="helper"></span>
          <img src="/video/thumb/{{ id }}" alt="img" />
      </figure>
      <figcaption>
          <strong>{{ title }}</strong><br/>
          Uploaded {{ date_added }} 
      </figcaption>
  </a>
{{/ each }}
</main>

{{> footer }}
