{{> header }}
<div class="img-cont">
    <figure>
        <span class="helper"></span>
        <img class="wide-img" alt="" src="http://via.placeholder.com/500x300">
    </figure>
    <figcaption>
        <span>Uploaded on 23 May 2017</span>
        <br/>
        <span>Expires never</span>
        <br/>
        <ul class="img-options">
            <li><a href="#">Delete Image</a></li>
            <li><a href="#">Password Protect</a></li>
            <li><a href="#">Change Expire Date</a></li>
            <li><a href="#">View Full Image</a></li>
        </ul>
    </figcaption>
</div>

{{> footer }}
