{{> show_header }}

<div class="image-container">
<video controls loop autoplay id="type-data" data-type="video" src="https://s3.eu-central-1.amazonaws.com/horuscdn/live/videos/{{ item.id }}.webm" />
</div>

{{> show_footer }}
