{{> show_header }}

<div class="img-container">
  
  <h2>{{ filename }}</h2>
  <a class="file" href="https://s3.eu-central-1.amazonaws.com/horuscdn/live/files/{{ id }}" target="_self">Download File</a>

</div>

{{> show_footer }}
