{{> show_header }}

<div class="img-container">
  
  <a class="file" href="https://s3.eu-central-1.amazonaws.com/horuscdn/live/files/{{ id }}" target="_self">Download {{ name }}</a>

</div>

{{> show_footer }}
