<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style/main.css"> 
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    
    <title>{{ video_title }}</title>
</head>
<body>
   <header class="navbar">
        <ul>
            <li class="navitem"><a href="/manage/images/0">Images</a></li>
            <li class="navitem"><a href="/manage/videos/0">Videos</a></li>
            <li class="navitem"><a href="/manage/pastes/0">Pastes</a></li>
            <li class="navitem"><a href="/manage/files/0">Files</a></li>
            <li class="navitem"><a href="/manage/account">My Account</a></li>
        </ul>
    </header> 

    <div class="wrapper">
        <h1 contenteditable="true" class="page-header">{{ video_title }}</h1>
        
        <main>
            <div class="img-cont">
                <figure>
                    <span class="helper"></span>
                    <!-- embed here -->
                    <!--<img class="wide-img" alt="" src="/video/full/{{ id }}">-->
                </figure>
                <figcaption>
                    <span>Uploaded on 23 May 2017</span>
                    <br/>
                    <span>Expires never</span>
                    <br/>
                    <ul class="img-options">
                        <li><a href="#">Delete Image</a></li>
                        <li><a href="#">Password Protect</a></li>
                        <li><a href="#">Change Expire Date</a></li>
                        <li><a href="#">View Full Image</a></li>
                    </ul>
                </figcaption>
            </div>
        </main>

    </div>
</body>
</html>
